<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.students.songsconcordance" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".SongSearch"
            android:label="@string/title_activity_song_search"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".WordGroupDef"
            android:label="@string/title_activity_word_group_def" >
        </activity>
        <activity
            android:name=".LingExpDef"
            android:label="@string/title_activity_ling_exp_def" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".BrowseSongs"
            android:label="@string/title_activity_browse_songs" >
        </activity>
        <activity
            android:name=".SongLyrics"
            android:label="@string/title_activity_song_lyrics" >
        </activity>
        <activity
            android:name=".SongLyricsIndex"
            android:label="@string/title_activity_song_lyrics_index" >
        </activity>
        <activity
            android:name=".WordSearchByLocation"
            android:label="@string/title_search_word_by_location" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".WordGroupMng"
            android:label="@string/title_activity_word_group_mng" >
        </activity>
        <activity
            android:name=".WordsList"
            android:label="@string/title_activity_words_list" >
        </activity>
    </application>

</manifest>
